.btn-all {
	margin-bottom: 1.6rem;
	flex: 1;
}

.category {
	text-decoration: none;
	list-style: none;
	margin-bottom: 1.6rem;
}

.category-list {
	width: 100%;
	text-decoration: none;
	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.6rem;
}
