.btn-all {
	margin-bottom: 1.6rem;
	flex: 1;
}

.category {
	text-decoration: none;
	list-style: none;
	margin-bottom: 1rem;
}

.category-list {
	width: 100%;
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.6rem;
}
