.fact {
	font-size: 2rem;
	line-height: 1.4;
	background-color: var(--input-bg);
	margin-bottom: 1.6rem;
	padding: 1.6rem 2.4rem;
	letter-spacing: -1px;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	gap: 2.4rem;
	color: var(--heading-text-color);
}

.tag {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-family: sans-serif;
	padding: 0.3em 1rem;
	border-radius: 100px;
	color: #f0f0d8;
}

.vote-buttons {
	margin-left: auto;
	flex-shrink: 0;
	display: flex;
	gap: 0.8rem;
}

.vote-buttons button {
	border: none;
	background-color: #f0f0f0;
	font-size: 1.8rem;
	padding: 0.6rem 1.2rem;
	border-radius: 100px;
	color: inherit;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.vote-buttons button:hover {
	background-color: #efefe5;
}

.vote-buttons button:disabled {
	background-color: var(--input-bg);
}

@media (max-width: 1100px) {
	.fact {
		flex-direction: column;
		align-items: flex-end;
		gap: 1.2rem;
	}
}

@media (max-width: 350px) {
}
