.header {
	margin-bottom: var(--spacing-lg);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.logo img {
	width: 5.2rem;
	height: 5.2rem;
}

h1 {
	font-size: var(--h1-size);
	text-transform: uppercase;
	font-family: var(--heading-font);
	line-height: 1;
	margin-top: var(--spacing-sm);
}

@media (max-width: 600px) {
	h1 {
		font-size: var(--h6-size);
	}

	.btn-large {
		font-size: var(--h4-size);
		padding: 1rem;
		border-radius: 50px;
	}
}
