.fact-form {
	background: var(--input-bg);
	margin-bottom: var(--spacing-lg);
	padding: var(--spacing-md) var(--spacing-lg);
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
	border-radius: 100rem;
	position: relative;
}

.error {
	position: absolute;
	top: -2rem;
	left: 50%;
	font-size: 1.4rem;
	font-weight: 700;
}

.fact-form input {
	width: 22.2rem;
	background-color: inherit;
	border: 1.5px solid var(--main-text-color);
	border-radius: 10rem;
	padding: var(--spacing-md);
	font-size: var(--p-size);
	color: inherit;
	font-family: inherit;
}

.fact-form input:first-child {
	flex-grow: 1;
}

.fact-form select {
	padding: 1rem;
	border: 1px solid var(--main-text-color);
	border-radius: 7rem;
	background: inherit;
	font-family: inherit;
	font-size: var(--p-size);
	color: inherit;
}

.fact-form span {
	font-weight: 600;
	font-size: var(--p-size);
}

@media (max-width: 900px) {
	.fact-form {
		justify-content: center;
		border-radius: 50px;
		flex-wrap: wrap;
	}
}
