:root {
	/* TEXT */

	--body-font: "Poppins", sans-serif;
	--heading-font: "Anek Telugu", sans-serif;
	--h1-size: 4.2rem;
	--h2-size: 5rem;
	--h3-size: 4rem;
	--h4-size: 3.2rem;
	--h5-size: 2.8rem;
	--h6-size: 2.2rem;
	--h1-height: 10.8rem;
	--h2-height: 7.5rem;
	--p-size: 1.8rem;
	--p-height: 2.6rem;
	--secondary-text-size: 1.4rem;
	--secondary-text-height: 1.8rem;
	--button-size: 1.7rem;

	/* COLORS */
	--bg-white: #f0f0fb;
	--input-bg: #e9e4f7;
	--heading-text-color: #2c2a2f;
	--main-text-color: #6b696f;
	--input-text-color: #9c939a;
	--primary-accent: #cbf8e7;
	--primary-text-color: #2b292e;
	--text-grey: #c3c2c6;

	/* SPACING */
	--spacing-sm: 0.8rem;
	--spacing-md: 1.6rem;
	--spacing-lg: 3.2rem;
	--spacing-xl: 4.8rem;
	--spacing-xxl: 64rem;
	--standard-width: 120rem;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-white);
	color: var(--main-text-color);
	font-family: "Poppins", sans-serif;
	padding: 4.8rem 6.4rem;
}

.main {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 25rem 1fr;
	gap: 4.8rem;
	color: #1eeba3;
}

@media (max-width: 900px) {
	.main {
		grid-template-columns: 1fr;
	}
}

.container,
#root {
	height: 100vh;
	max-width: var(--standard-width);
	margin: 0 auto;
}

.btn {
	border: none;
	font-family: var(--body-font);
	line-height: 1;
	text-transform: uppercase;
	font-size: var(--button-size);
	padding: 1.6rem 1.3rem;
	color: inherit;
	cursor: pointer;
	border-radius: 100px;
	transition: 0.3s;
}

.cta {
	background: -webkit-linear-gradient(225deg, #f97, #8b5ffa, #1eeba3) 0%
		0% / 300% 300%;
	background-size: 200% auto;
	-webkit-animation: gradient_move 3s ease infinite;
	animation: gradient_move 3s ease-in-out infinite;
	transition: all 0.3s ease-in-out;
}

@-webkit-keyframes gradient_move {
	0% {
		background-position: 0% 92%;
	}
	50% {
		background-position: 100% 9%;
	}
	100% {
		background-position: 0% 92%;
	}
}

.btn:hover {
	transform: scale(105%) rotate(-1.25deg);
}

.btn-large {
	font-size: 2rem;
	padding: 2rem 3.2rem 1.7rem;
}

.hidden {
	display: none;
}

@media (max-width: 600px) {
	.btn-large {
		padding: 1rem;
		border-radius: 50px;
	}
}
